{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맞춤형 가구 추천</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <nav class="nav-container">
        <div class="nav-content">
            <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="로고" class="logo">
            <ul class="nav-menu">
                <li><a href="/airecommend/">맞춤형 가구 추천</a></li>
                <li><a href="ai-remodeling">AI 리모델링 컨설팅</a></li>
            </ul>
            {% if not user.is_authenticated %}
            <div class="nav-right">
                <a href="#" class="nav-login-link">로그인</a>
                <a href="/signup" class="signup-button">회원가입</a>
            </div>
            {% else %}
            <div class="nav-right">
                <a class="nav-login-link" href="#">{{user}}님!</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="signup-button">로그아웃</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
</head>